.login-header{
     margin-top: 30px;
     margin-bottom: 50px;
    font-weight: bold;
    font-size: xx-large;
    font-family: Philosopher;
 }

.ui-input-text{
    margin-bottom: 40px!important;
}

.ui-input-btn{
    display: block!important;
    width: 35% !important;
    margin: auto!important;
    padding: 7px!important;
    font-size: medium!important;
    background: #0099FF!important;
    text-shadow: none!important;
}

.center-text{
    text-align: center;
}

.error-message{
    background: rgba(240, 65, 36, 0.5);
    padding: 5px;
    border-radius: 7px;
    margin-bottom: 50px;
}

.error-message span{
    color: #000000;
    font-size: smaller;
    text-shadow: none;
}

.login-separator{
    margin: 30px 0;
}

.ui-li-divider{
    background: #0099FF !important;
    text-shadow: none!important;
    color: white!important;
    padding: 8px!important;
    font-size: large!important;
    text-align: center!important;
}

.menu-title{
    display: block;
    margin: auto auto 40px auto;
    width: 80%;
}

.ui-header{
    background: #7CA7FD!important;
}

.ui-header h1{
    color: #ffffff;
    text-shadow: none;
    font-weight: bold;
}

.register-button{
    background: #3dc235fc!important;
    text-shadow: none!important;
    padding: 9px!important;
}

input{
    text-align: center!important;
}

#benvenuto-image{
    width: 100%;
}

.benvenuto-text{
    text-align: justify;
    text-transform: none;
}

.text-justify{
    text-align: justify;
}

.philosopher-font{
    font-family: Philosopher, serif;
}

.blue-text{
    color: #0099FF;
}

.fatture-header{
    width: 100%;
    background: #0099FF!important;
    color: #ffffff!important;
    margin-left: -15px!important;
    text-shadow: none!important;
    font-weight: bold!important;
}

.text-transfor-none{
    text-transform: none;
}

.checkbox-register{
    margin-top: 40px!important;
    background: #3dc235fc!important;
    text-shadow: none!important;
}

.text-shadow-none{
    text-shadow: none!important;
}

.margin-zero{
    margin: 0!important;
}

.margin-bottom-50{
    margin-bottom: 50px!important;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}

.fatture-item{
    padding: 0 10px!important;
}

.ui-collapsible-content{
    padding: 0!important;
}

.visualizza-button{
    background: #3dc235!important;
    text-shadow: none!important;
    color: #ffffff!important;
}

.carica-button{
    background: #EC942C!important;
    text-shadow: none!important;
    color: #ffffff!important;
}

.contratti-collapsible > h3 > a{
    background-color: #0099FF!important;
    text-shadow: none!important;
    color: #ffffff!important;
}

.fixed-header-text{
    font-size: 45px!important;
    padding: 10px 0 0 0!important;
    line-height: 1!important;
    color: #007E47!important;
    font-family: 'Ruslan Display', sans-serif;
}

.menu-icon{
    height: 40px!important;
    width: 40px!important;
    margin-top: 5px!important;
    border: none!important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-radius: 50% !important;
}

.title-A{
    color: #E52612;
}

.red-text{
    color: #E52612!important;
    font-weight: bold;
}

.home-phrase{
    border-bottom: 3px solid #E52612;
    color: #007E47;
}