
.ui-select{
    width: 100% !important;
}

.ui-field-contain{
    border: none!important;
}

.ui-input-btn{
    display: block!important;
    width: 35% !important;
    margin: auto!important;
    padding: 7px!important;
    font-size: medium!important;
    background: #0099FF!important;
    text-shadow: none!important;
}

.ui-header{
    background: #7CA7FD!important;
}

.ui-header-fixed{
    height: 45px;
}

.ui-li-divider{
    background: #0099FF !important;
    text-shadow: none!important;
    color: white!important;
    padding: 8px!important;
    font-size: large!important;
    text-align: center!important;
}

.ui-header h1{
    color: #ffffff;
    text-shadow: none;
    font-weight: bold;
}

.ui-collapsible-content{
    padding: 0!important;
    border: none!important;
}

#valoreAnagrafica form div{
    margin: auto!important;
    width: 95% !important;
}

#altro-selection form div{
    margin: 15px 0 0 0!important;
    width: 99% !important;
}

#valoreAnagrafica.ui-input-text{
    display: block!important;
    width: 80%!important;
    padding: 0!important;
    margin: 15px auto!important;
    background-color: #F9F9F9!important;
    border: none!important;
    box-shadow: none!important;
    border-bottom: 1px solid #0099FF!important;
    border-radius: 0!important;
}

.ui-input-text{
    display: block!important;
    width: 80%!important;
    padding: 0!important;
    margin: 15px auto!important;
    background-color: #F9F9F9!important;
    border: none!important;
    box-shadow: none!important;
    border: 1px solid #0099FF!important;
    border-radius: 5px!important;
}

#registerForm .ui-checkbox > label{
    margin-top: 30px!important;
    background: #3dc235!important;
    text-shadow: none!important;
    font-size: smaller!important;
}

.ui-icon-maps-icon:after{
    background-image: url('../img/maps.jpg');
}

.ui-icon-email-icon:after{
    background-image: url('../img/email.jpg');
}

/******************* CUSOTM CSS *********************/
body{
    touch-action: manipulation;
    margin: auto!important;
    font-family: Arial, sans-serif;
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.login-header{
    margin-top: 25px;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: x-large;
}

.error-message{
    background: rgb(229, 38, 18);
    padding: 5px;
    border-radius: 7px;
    margin-bottom: 20px;
}

.error-message span{
    color: #ffffff;
    font-size: medium;
    text-shadow: none;
}

.success-message{
    border: 1px solid #3CC14A;
    color: #3CC14A!important;
    padding: 5px;
    border-radius: 7px;
    margin-bottom: 50px;
}

.success-message span{
    color: #3CC14A!important;
    font-size: smaller;
    text-shadow: none;
}

.login-separator{
    margin: 10px 0;
}

.header-page-title{
    margin: 20px 0;
}

.menu-title{
    display: block;
    margin: auto auto 40px auto;
    width: 80%;
}

input{
    text-align: center!important;
    font-size: large!important;
}

.login-image{
    display: block;
    width: 70%;
    margin: auto auto 50px;
}

#login-content > a{
    margin-top: 0!important;
    background: #3dc235!important;
    text-shadow: none!important;
}

.login-icon{
    position: absolute!important;
    left: 8px!important;
    top: 8px!important;
    font-size: small!important;
    padding: 6px 8px 6px 8px!important;
    background: #ffffff!important;
    color: #000000!important;
    border-radius: 12px!important;
    border: 1px solid #0099FF!important;
}

.privacy-div > h5 > a{
    background-color: #0099FF!important;
    text-shadow: none!important;
    color: #ffffff!important;
}

.privacy-div > div{
    border: 1px solid #0099FF!important;
}

.privacy-div > div p{
    padding: 0 15px;
}

.text-justify{
    text-align: justify;
}

.fixed-header-text{
    font-size: 35px!important;
    padding: 10px 0 0 0!important;
    line-height: 1!important;
    color: #007E47!important;
    font-family: 'Ruslan Display', sans-serif;
}

.menu-icon{
    width: 45px!important;
    height: 37px!important;
    font-size: small!important;
    padding: 0!important;
    margin: 0!important;
    background: #ffffff!important;
    color: #000000!important;
    border-radius: 12px!important;
    border: 1px solid #0099FF!important;
}

.menu-icon-image{
    width: 45px!important;
    height: 39px!important;
}

#benvenuto-image{
    width: 100%!important;
    display: block!important;
    margin: auto!important;
}

.home-phrase{
    margin: 45px 0;
    border-bottom: 2px solid #0099FF;
    border-top: 2px solid #0099FF;
    border-radius: 10px;
    padding: 10px 0;
    color: #007E47;
}

.blue-text{
    color: #0099FF!important;
}

.social{
    width: 50px;
    float: right;
    margin: 10px;
}

.fatture-header{
    width: 100%;
    background: #0099FF!important;
    color: #ffffff!important;
    margin-left: -15px!important;
    text-shadow: none!important;
    font-weight: bold!important;
}

.text-transfor-none{
    text-transform: none;
}

.text-shadow-none{
    text-shadow: none!important;
}

.margin-zero{
    margin: 0!important;
}

.margin-bottom-30{
    margin-bottom: 30px!important;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}

.fatture-item{
    padding: 0 10px!important;
}

.visualizza-button{
    width: 100%!important;
    background: #3dc235!important;
    text-shadow: none!important;
    color: #ffffff!important;
}

.visualizza-button-anagrafica{
    width: 100%!important;
    margin: 5px 0 0 0!important;
    padding-left: 0!important;
    padding-right: 0!important;
    font-size: large!important;
    border: 1px solid #3dc235!important;
    background-color: #3dc235!important;
    color: #ffffff!important;
}

.contratti-collapsible > h3 > a{
    background-color: #0099FF!important;
    text-shadow: none!important;
    color: #ffffff!important;
}

.title-A{
    color: #E52612;
}

.red-text{
    color: #E52612!important;
    font-weight: bold;
}

.line-wrap{
    white-space: normal!important;
}

.attrezzature-label-padding{
    padding: 7px 0 3px 0!important;
}

.gray-text{
    color: #808080!important;
}

.center-text{
    text-align: center;
}

.margin-top-50{
    margin-top: 50px!important;
}

.font-large{
    font-size: large!important;
}

.font-medium{
    font-size: medium!important;
}

.margin-auto{
    margin: auto!important;
}

.full-width{
    width: 100%!important;
}

.padding-zero{
    padding: 0!important;
}

.anagrafica-padding{
    padding: 0 0 0 0!important;
}

.anagrafica-list-margin{
    margin: auto auto 0 auto!important;
}

.cambio-anagrafica-form-label{
    width: 85% !important;
    color: #0099FF;
    margin: auto auto 20px auto!important;
    padding: 10px 0 0 0!important;
    text-align: center;
    font-size: larger!important;
}

.cambio-anagrafica-buttons{
    margin-top: 30px;
}

.white-text{
    color: #ffffff;
}

.aggiungiModifica{
    width: 100% !important;
    margin: 0 0 0 0!important;
    padding-left: 0!important;
    padding-right: 0!important;
    font-size: medium!important;
    /*background-color: #FF956B!important;*/
    color: #FF956B!important;
    border: 1px solid #FF956B!important;
}

.ricaricaDati{
    width: 39% !important;
    margin: 0!important;
    /*background-color: #49D49D!important;*/
    color: #FF956B!important;
    border: 1px solid #FF956B!important;
}

.salvaPerDopo{
    width: 91% !important;
    margin: 5px 0 0 0!important;
    font-size: medium!important;
    color: #FF956B!important;
    border: 1px solid #FF956B!important;
}

.cancellaModifica{
    width: 100% !important;
    margin: 5px 0 0 0!important;
    padding-left: 0!important;
    padding-right: 0!important;
    font-size: medium!important;
    /*background-color: #CF2E15!important;*/
    color: #CF2E15!important;
    border: 1px solid #CF2E15!important;
}

.inviaDati{
    width: 100% !important;
    margin: 5px 0 0 0!important;
    padding-left: 0!important;
    padding-right: 0!important;
    font-size: large!important;
    border: 1px solid #3dc235!important;
    background-color: #3dc235!important;
    color: #ffffff!important;
}

#cambiaAnagraficaList{
    margin-top: 20px!important;
    box-shadow: none;
}

#fattureCollapsable h3 a{
    background-color: #F0F7EE!important
}

#fattureCollapsableInner h3 a{
    background-color: #ffffff!important
}

#attrezzature-container{
    padding: 1em 0 0 0!important;
}

#attrezzature-container div h3 a{
    background-color: #F0F7EE;
    color: #000000;
}

#valoreAltroForm div{
    margin: 15px 0 0 0!important;
    width: 100% !important;
}

.elementi-da-selezionare{
    margin: 20px 0 0 0;
    color: #0099FF;
    padding: 10px;
    text-align: center;
    font-size: larger;
}

#noteAggiuntive textarea{
    margin: 0!important;
    padding: 5px!important;
    width: 100% !important;
}

.note-aggiuntive-label{
    margin: 0 0 10px 10px!important;
    font-size: large!important;
}

#inviaRichiestaAssistenzaDati{
    width: 100% !important;
    margin: 0 0 0 0!important;
    padding-left: 0!important;
    padding-right: 0!important;
    font-size: large!important;
    border: 1px solid #3dc235!important;
    background-color: #3dc235!important;
    color: #ffffff!important;
}

/*radio buttons*/
#frequenza .ui-controlgroup-label{
    float: none;
    display: block;
    margin-bottom: 30px;
    text-align: center;
    width: 100%;
}

#frequenza .ui-controlgroup-label legend{
    font-weight: bold;
    font-size: 130%;
    width: 100%;
    margin-bottom: 8px;
}

#frequenza .ui-controlgroup-controls {
    float: none;
    display: block;
    width: 100%;
}

#frequenza .ui-radio{
    width: 33.33%;
}

#frequenza .ui-radio label{
    text-align: center;
    white-space: nowrap;
}

.margin-top-20{
    margin-top: 20px!important;
}

.sorveglianzaInviaDati{
    width: 100% !important;
    margin: 5px 0 0 0!important;
    padding-left: 0!important;
    padding-right: 0!important;
    font-size: large!important;
    border: 1px solid #3dc235!important;
    background-color: #3dc235!important;
    color: #ffffff!important;
}

.error-popup{
    border: 1px solid #FFFFFF!important;
    background: #AE1E28!important;
    color: white!important;
    box-shadow: 0 0 10px 7px #AE1E28!important;
}

.success-popup{
    border: 3px solid #5DB553!important;
    background: #5DB553!important;
    color: white!important;
    box-shadow: 0 0 16px 7px #5DB553!important;
}

.error-title{
    padding: 10px!important;
    border-bottom: 3px solid #FFFFFF;
}

.error-content{
    padding: 10px;
}


@media (min-width: 1921px) {
    [data-role="page"]{
        width: 50%!important;
        margin: 0 25% !important;
    }

    [data-role='header']{
        width: 50%!important;
        margin: 0 25% !important;
    }

    [data-role='footer']{
        width: 50%!important;
        margin: 0 25% !important;
    }
}

@media (min-width: 1281px) and (max-width: 1920px) {
    [data-role="page"]{
        width: 60%!important;
        margin: 0 20% !important;
    }

    [data-role='header']{
        width: 60%!important;
        margin: 0 20% !important;
    }

    [data-role='footer']{
        width: 60%!important;
        margin: 0 20% !important;
    }
}

@media (min-width: 1025px) and (max-width: 1280px) {
    [data-role="page"]{
        width: 90%!important;
        margin: 0 5% !important;
    }

    [data-role='header']{
        width: 90%!important;
        margin: 0 5% !important;
    }

    [data-role='footer']{
        width: 90%!important;
        margin: 0 5% !important;
    }
}

@media (min-width: 701px){
    .ui-select{
        margin-bottom: 10px!important;
    }
}

.si-checkbox{
    float: left;
    width: 45%;
    margin-right: 6%;
    margin-left: 2%;
}

.no-checkbox{
    width: 45%;
    float: left;
    margin-right: 2%;
}

.border-top-2-blue{
    border-top: 2px solid #0099FF!important;
}

.sorveglianza-note{
    width: 96%;
    display: block;
    margin: auto;
    box-shadow: none;
    border: none;
    background: lightgray;
    height: 34px;
    border-radius: 10px;
}