.ui-input-text{
    margin-bottom: 40px!important;
}

.ui-input-btn{
    display: block!important;
    width: 35% !important;
    margin: auto!important;
    padding: 7px!important;
    font-size: medium!important;
    background: #0099FF!important;
    text-shadow: none!important;
}

.ui-header{
    background: #7CA7FD!important;
}

.ui-header-fixed{
    height: 45px;
}

.ui-li-divider{
    background: #0099FF !important;
    text-shadow: none!important;
    color: white!important;
    padding: 8px!important;
    font-size: large!important;
    text-align: center!important;
}

.ui-header h1{
    color: #ffffff;
    text-shadow: none;
    font-weight: bold;
}

.ui-collapsible-content{
    padding: 0!important;
    border: none!important;
}

.ui-input-text{
    display: block!important;
    width: 80%!important;
    padding: 0!important;
    margin: 15px auto!important;
    background-color: #F9F9F9!important;
    border: none!important;
    box-shadow: none!important;
    border-bottom: 1px solid #0099FF!important;
    border-radius: 0!important;
}

.ui-checkbox > label{
    margin-top: 30px!important;
    background: #3dc235!important;
    text-shadow: none!important;
    font-size: smaller!important;
}

.ui-icon-maps-icon:after{
    background-image: url('../img/maps.jpg');
}

.ui-icon-email-icon:after{
    background-image: url('../img/email.jpg');
}

/******************* CUSOTM CSS *********************/
body{
    touch-action: manipulation;
    margin: auto!important;
    font-family: Arial, sans-serif;
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.login-header{
    margin-top: 25px;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: x-large;
    color: #007E47;
    font-family: Philosopher, sans-serif;
}

.error-message{
    background: rgba(229, 38, 18, 1);
    padding: 5px;
    border-radius: 7px;
    margin-bottom: 50px;
}

.error-message span{
    color: #ffffff;
    font-size: smaller;
    text-shadow: none;
}

.login-separator{
    margin: 10px 0;
}

.header-page-title{
    margin: 20px 0;
}

.menu-title{
    display: block;
    margin: auto auto 40px auto;
    width: 80%;
}

input{
    text-align: center!important;
    font-size: large!important;
}

.login-image{
    display: block;
    width: 70%;
    margin: auto auto 50px;
}

#login-content > a{
    margin-top: 0!important;
    background: #3dc235!important;
    text-shadow: none!important;
}

.login-icon{
    position: absolute!important;
    left: 8px!important;
    top: 8px!important;
    font-size: small!important;
    font-family: Philosopher, sans-serif!important;
    padding: 6px 8px 6px 8px!important;
    background: #ffffff!important;
    color: #000000!important;
    border-radius: 12px!important;
    border: 1px solid #0099FF!important;
}

.privacy-div > h5 > a{
    background-color: #0099FF!important;
    text-shadow: none!important;
    color: #ffffff!important;
}

.privacy-div > div{
    border: 1px solid #0099FF!important;
}

.privacy-div > div p{
    padding: 0 15px;
}

.text-justify{
    text-align: justify;
}

.philosopher-font{
    font-family: Philosopher, serif;
}

.fixed-header-text{
    font-size: 35px!important;
    padding: 10px 0 0 0!important;
    line-height: 1!important;
    color: #007E47!important;
    font-family: 'Ruslan Display', sans-serif;
}

.menu-icon{
    margin-top: 7px!important;
    font-size: small!important;
    font-family: Philosopher, sans-serif!important;
    padding: 6px 8px 6px 8px!important;
    background: #ffffff!important;
    color: #000000!important;
    border-radius: 12px!important;
    border: 1px solid #0099FF!important;
}

#benvenuto-image{
    width: 100%!important;
    display: block!important;
    margin: auto!important;
}

.home-phrase{
    margin: 45px 0;
    border-bottom: 2px solid #0099FF;
    border-top: 2px solid #0099FF;
    border-radius: 10px;
    padding: 10px 0;
    color: #007E47;
}

.blue-text{
    color: #0099FF!important;
}

.social{
    width: 50px;
    float: right;
    margin: 10px;
}

.fatture-header{
    width: 100%;
    background: #0099FF!important;
    color: #ffffff!important;
    margin-left: -15px!important;
    text-shadow: none!important;
    font-weight: bold!important;
}

.text-transfor-none{
    text-transform: none;
}

.text-shadow-none{
    text-shadow: none!important;
}

.margin-zero{
    margin: 0!important;
}

.margin-bottom-30{
    margin-bottom: 30px!important;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}

.fatture-item{
    padding: 0 10px!important;
}

.visualizza-button{
    width: 100%!important;
    background: #3dc235!important;
    text-shadow: none!important;
    color: #ffffff!important;
}
.visualizza-button-anagrafica{
    background: #3dc235!important;
    text-shadow: none!important;
    color: #ffffff!important;
}

.contratti-collapsible > h3 > a{
    background-color: #0099FF!important;
    text-shadow: none!important;
    color: #ffffff!important;
}

.title-A{
    color: #E52612;
}

.red-text{
    color: #E52612!important;
    font-weight: bold;
}

.line-wrap{
    white-space: normal!important;
}

.attrezzature-label-padding{
    padding: 7px 0 3px 0!important;
}

.gray-text{
    color: #808080!important;
}

.center-text{
    text-align: center;
}

.margin-top-50{
    margin-top: 50px!important;
}

.font-large{
    font-size: large!important;
}

.font-medium{
    font-size: medium!important;
}

.margin-auto{
    margin: auto!important;
}

.full-width{
    width: 100%!important;
}